/* wieport tablet  */

@media screen and (max-width: 992px) and (min-width: 420px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row {
    width: 100%;
    margin-top: 0;
  }

  #lezioni .row:hover {
    background-color: forestgreen;
  }

  h1 {
    font-size: 30px;
  }
  h1:hover {
    font-size: 32px;
    color: darkslateblue;
  }

  /* second  */

  #steps .row:hover {
    background-color: goldenrod;
  }

  /* third  */

  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    margin-top: 0;
    padding: 10px 10px;
  }
  #why .row:hover {
    background-color: rgba(152, 155, 114, 0.859);
  }

  .row h1 {
    padding-top: 20px;
  }
}
